<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Public Domain Film Quote Search by @stefan@stefanbohacek.online</title>
    <meta property="og:title" content="Public Domain Film Quote Search by @stefan@stefanbohacek.online" />
    <meta name="twitter:title" content="Public Domain Film Quote Search by @stefan@stefanbohacek.online" />
    <meta name="description" content="Search through a collection of public domain films." />
    <meta property="og:description" content="Search through a collection of public domain films." />
    <meta name="twitter:description" content="Search through a collection of public domain films." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stefanbohacek.com" />
    <meta property="og:image" content="/images/public-domain-film-quote-search.png" /> 
    <meta property="og:image:alt" content="A screenshot of the Public Domain Film Quote Search app." /> 
    <meta property="twitter:image:src" content="/images/public-domain-film-quote-search.png" /> 
    <meta property="twitter:image:alt" content="A screenshot of the Public Domain Film Quote Search app." /> 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@stefanbohacek" />
    <meta name="twitter:domain" content="https://stefanbohacek.com/" />
    <!-- TODO: Favicons -->
    <!-- <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
        <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
        <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
        <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
        <meta name="theme-color" content="#712cf9"> -->
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body data-bs-theme="dark" class="d-flex flex-column h-100">
    <script>
        const toggleDarkMode = (enabled) => {
            if (enabled){
                document.body.setAttribute('data-bs-theme', 'dark');
            } else {
                document.body.setAttribute('data-bs-theme', 'light');
            }
        }

        const enableDarkMode = () => {
            if (window.matchMedia) {
                toggleDarkMode(window.matchMedia('(prefers-color-scheme: dark)').matches);
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                toggleDarkMode(window.matchMedia('(prefers-color-scheme: dark)').matches);
            });
        }
        enableDarkMode();
    </script>
    <main class="flex-shrink-0">
        <div class="container">
          {{{body}}}
        </div>
    </main>
    {{> footer }}
    <script type="module" src="js/main.js" async></script>
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://matomo.stefanbohacek.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '13']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
</body>
</html>
