<h1 class="mt-5">
    Public Domain Film Quote Search
</h1>
<p id="intro-text" class="lead d-none">
    <a href="/films">See full list</a>
    |
    <a target="_blank" href="mailto:stefan@stefanbohacek.com?subject=Public%20Domain%20Film%20Quote%20Search&body=Hi%20Stefan%2C%0A%0AHere's%20a%20movie%20you%20should%20add%20to%20your%20database%3A%0A%0A-%20TITLE%0A-%20ARCHIVE.ORG%20LINK%0A-%20OPENSUBTITLES.ORG%20LINK">Suggest a movie</a>
</p>
<p class="text-muted mb-4">

</p>
<form id="search-form">
    <div class="input-group mb-3">
        <div class="form-floating">
            <input autofocus id="query" type="text" class="form-control" name="query" placeholder="music" value="">
            <label for="query">What would you like to find?</label>
        </div>
        <button class="btn btn-outline-secondary" type="submit" id="search-btn">Search</button>
    </div>
</form>

<div id="placeholders" class="d-none row">
   <div class="col-sm-12 mt-3 mb-3">
      <div class="d-flex">
         <div class="flex-shrink-0">
            <svg class="bd-placeholder-img card-img-top" width="182" height="268" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
         </div>
         <div class="flex-grow-1 ms-3">
           <div class="h5 card-title placeholder-glow">
                <span class="placeholder col-4 mb-3"></span>
                <span class="placeholder col-2 text-muted mb-3"></span>
            </div>
            <p class="card-text placeholder-glow mb-0">
                <span class="placeholder col-2"></span>
                <span class="placeholder col-3"></span>
            </p> 
            <p class="card-text placeholder-glow">
                <span class="placeholder col-3"></span>
            </p> 
            <p class="card-text placeholder-glow mb-0">
                <span class="placeholder col-3"></span>
                <span class="placeholder col-2"></span>
            </p> 
            <p class="card-text placeholder-glow">
                <span class="placeholder col-3"></span>
            </p> 
            <p class="placeholder-glow">
                <a class="btn btn-secondary disabled placeholder col-2"></a>
            </p>
         </div>
      </div>
   </div>
   <div class="col-sm-12 mt-3 mb-3">
      <div class="d-flex">
         <div class="flex-shrink-0">
            <svg class="bd-placeholder-img card-img-top" width="182" height="268" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
         </div>
         <div class="flex-grow-1 ms-3">
           <div class="h5 card-title placeholder-glow">
            <span class="placeholder col-2"></span>
            <span class="placeholder col-2 text-muted"></span>
            </div>
            <p class="card-text placeholder-glow mb-0">
                <span class="placeholder col-3"></span>
                <span class="placeholder col-2"></span>
            </p> 
            <p class="card-text placeholder-glow">
                <span class="placeholder col-3"></span>
            </p> 
            <p class="card-text placeholder-glow mb-0">
                <span class="placeholder col-4"></span>
                <span class="placeholder col-1"></span>
            </p> 
            <p class="card-text placeholder-glow">
                <span class="placeholder col-3"></span>
            </p> 
            <p class="placeholder-glow">
                <a class="btn btn-secondary disabled placeholder col-2"></a>
            </p>

         </div>
      </div>
   </div>   
</div>  


<div id="placeholders" class="d-none container mt-5 mb-4 g-0">
    <div class="row">
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-3"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-3"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-3 mb-3">
            <div class="card shadow-sm" aria-hidden="true">
                <div class="card-header">
                    <h5 class="card-title"><span class="placeholder col-6"></span></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="placeholder col-3"></span></h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <span class="placeholder col-6"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results" class="container mt-5 mb-4 g-0">
    <div class="row">
        <div class="col-12 col-sm-4 p-5">
            <img class="w-100" src="/images/posters-collage.png">
        </div>
        <div class="col-12 col-sm-8 p-5">
            <p class="lead">
                Search quotes from a database of <span class="fw-bold">{{films.length}}</span> public domain movies.
            </p>
            <ul>
                <li>
                    <a href="/films">see full list of movies</a>
                </li>
                <li>
                    <a target="_blank" href="mailto:stefan@stefanbohacek.com?subject=Public%20Domain%20Film%20Quote%20Search&body=Hi%20Stefan%2C%0A%0AHere's%20a%20movie%20you%20should%20add%20to%20your%20database%3A%0A%0A-%20TITLE%0A-%20ARCHIVE.ORG%20LINK%0A-%20OPENSUBTITLES.ORG%20LINK">suggest a movie</a>
                </li>                    
                <li>
                    <a href="https://stefanbohacek.com/project/public-domain-film-quote-search/">learn more about this project</a>
                </li>
            </ul>
        </div>
    </div>
</div>                
